// 👉 Center Flex
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// 👉 Truncate text
@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 👉 Responsive
@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: 576px) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (max-width: 1024px) {
      @content;
    }
  }
}

// 👉 Custom scroll bar
@mixin custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: $color-primary transparent;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-primary;
    border-radius: 4px;
  }
}