.theme-light{
  --color-primary: #2c3987;
  --color-secondary: #7e8aa4;
  --color-accent: #e91e63;
  --color-bg: #ffffff;
  --color-surface: #f5f5f5;
  --color-text: #111111;
  --color-muted: #666666;

  --border-radius: 8px;
  --shadow-base: 0 2px 4px rgba(0, 0, 0, 0.05);
}